/* @import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Cinzel+Decorative:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
/* TIPOGRAFIAS QUE SE VAN A USAR */
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Cinzel+Decorative:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header {
	font-family: "Cinzel Decorative", sans-serif;
}

.h2-morelos{
	font-family: "Cinzel Decorative", sans-serif;
}

/* body {
	font-family: "Adobe Caslon Pro", sans-serif;
} */

.cinzel-decorative-regular {
	font-family: "Cinzel Decorative", serif;
	font-weight: 400;
	font-style: normal;
}

.cinzel-decorative-bold {
	font-family: "Cinzel Decorative", serif;
	font-weight: 500;
	font-style: normal;
}

.cinzel-decorative-black {
	font-family: "Cinzel Decorative", serif;
	font-weight: 600;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

/* Contenedor de todo */
.container {
	max-width: 1200px;
	margin: 0 auto;
}

/* header */
.header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.925),
			rgba(0, 0, 0, 0.052)),
		url(../utils/menu-image.jpg);

	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 30vh;
	display: flex;
	align-items: center;
}

.menu {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	color: #FFFDFC;
	font-size: 25px;
	font-weight: 800;
}

.menu .navbar ul li {
	position: relative;
	float: left;
}

.menu .navbar ul li a {
	font-size: 18px;
	padding: 20px;
	color: #FFFDFC;
	display: block;
	font-weight: 600;
}

.menu .navbar ul li a:hover {
	color: #ede87c;
}

#menu {
	display: none;
}

.menu-icon {
	width: 25px;
}

.menu label {
	cursor: pointer;
	display: none;
}

.header-content {
	text-align: center;
}

.header-content h2 {
	font-size: 50px;
	line-height: 80px;
	color: #F9FAFC;
	text-transform: uppercase;
	margin-bottom: 35px;
}

.header-content p {
	font-size: 16px;
	color: #C5C5C5;
	padding: 0 250px;
	margin-bottom: 25px;
}

/* SLIDER DE IMAGENES v1 */
/* .slider-image{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: auto;
    overflow-x: hidden;
}

.slider-image img {
    width: 15%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid white;
    transition: all ease-in-out 0.5s;
}

.slider-image img:hover {
    width: 100%;
} */

/* termina v1 */


.carousel {
    position: relative;
    width: 100%;
	background-color: white;
    /*background: linear-gradient(to bottom, #8f7d52 3%, #ffffff 100%); De color marrón a blanco */
    height: 500px;
    overflow: hidden;
}

.carousel-images {
	display: flex;
	transition: transform 0.5s ease-in-out;
	width: 100%;
	height: 500px;
	
}

.carousel-image {
    flex-shrink: 0;
    width: 100%;
    height: 500px;
    object-fit: contain; /* Ajusta la imagen sin distorsionarla */
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(247, 236, 236); /* Fondo semitransparente */
    color: white;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    padding: 10px;
}

.carousel-button-prev {
    left: 10px;
}

.carousel-button-next {
    right: 10px;
} 

.morelos{
	padding: 100px 0;
	background-color: #606834;
	/*background: linear-gradient(to top, #8f7d52 1%, #ffffff 100%); De color marrón a blanco */
	position: relative;
}

.morelos-content {
	text-align: center;
}

.morelos-content h2{
	font-size: 55px;
	line-height: 70px;
	color: white;
	text-transform: uppercase;
	padding: 0 250px;
	margin-bottom: 15px;
	font-family: "Adobe Caslon Pro", sans-serif;
	
}

.text-p-caslon{
	font-size: 20px;
	color: white;
	padding: 0 250px;
	margin-bottom: 35px;
	font-family: "Adobe Caslon Pro", sans-serif;
}

.morelos.map{
	height: 800px;
	width: 450px;
}



.btn-1 {
	display: inline-block;
	padding: 11px 35px;
	background-color: #CE967B;
	color: #F9FAFC;
	text-transform: uppercase;
}

.btn-1:hover {
	background-color: #EBAD8D;
}

.coffee {
	padding: 100px 0;
	background-color: #E1E2E6;
	position: relative;
}

.coffee-content {
	text-align: center;
}

.coffee-content h2 {
	font-size: 55px;
	line-height: 70px;
	color: #323337;
	text-transform: uppercase;
	padding: 0 250px;
	margin-bottom: 15px;
}

/* .txt-p {
	font-size: 16px;
	color: #414247;
	padding: 0 250px;
	margin-bottom: 35px;
} */

.coffee-group {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.coffee-1 {
	width: 0 25px;
}

.coffee-1 img {
	width: 200px;
}

.coffee-img {
	position: absolute;
	top: 0;
	right: 0;
}

.coffee-1 h3 {
	color: #323337;
	font-size: 20px;
	margin-bottom: 15px;
}

.services {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),
			rgba(0, 0, 0, 0.7)),
		url(../img/bg3.jpeg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 100px 0;
}

.services-content {
	text-align: center;
}

.services-content h2 {
	font-size: 55px;
	line-height: 70px;
	color: #F9FAFC;
	text-transform: uppercase;
	margin-bottom: 50px;
}

.services-content p {
	font-size: 16px;
	color: #C5C5C5;
	margin-bottom: 50px;
	padding-bottom: 0 100px;
}

.services-group {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.services-1 {
	padding: 0 100px;
}

.services-1 img {
	width: 25px;
	margin-bottom: 15px;
}

.services-1 h3 {
	color: #EACCB3;
	font-size: 18px;
}

.general {
	display: flex;
}

.general-1 {
	width: 50%;
	padding: 100px 250px 100px 100px;
	background-color: #E1E2E6;
}

.general-2 {
	background-image: url(../img/coffe-1.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 50%;
}

.general-3 {
	background-image: url(../img/coffee-2.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 50%;
}

h2 {
	font-size: 55px;
	line-height: 70px;
	color: #323337;
	text-transform: uppercase;
	margin-bottom: 20px;
}

p {
	font-size: 16px;
	color: #414247;
	margin: 25px 0 45px 0;
}

.blog {
	padding: 100px 0;
	text-align: center;
}

.blog-content {
	display: flex;
	justify-content: space-between;
}

.blog-1 {
	padding: 15px 55px;
}

.blog-1 img {
	width: 250px;
	border-radius: 15px;
	margin-bottom: 15px;
}

.blog-1 h3 {
	font-size: 25px;
	color: #323337;
}

.footer {
	padding: 100px 0;
	background-color: #000000;
}

.footer-content {
	display: flex;
	justify-content: space-between;
}

.link h3 {
	font-size: 18px;
	color: #F9FAFC;
	margin-bottom: 15px;
}

.link a {
	font-size: 16px;
	color: #C5C5C5;
	display: block;
	margin-bottom: 15px;
}


@media(max-width:991px) {
	.menu {
		padding: 30px;
	}

	.menu label {
		display: initial;
	}

	.menu .navbar {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background-color: #323337;
		display: none;
	}

	.menu .navbar ul li {
		width: 100%;
	}

	#menu:checked~.navbar {
		display: initial;
	}

	.header {
		min-height: 0vh;
	}

	.header-content {
		padding: 100px 30px;
	}

	.header-content p {
		padding: 0;
	}

	.coffee {
		padding: 30px;
	}

	.coffee-content h2 {
		padding: 0;
	}

	.txt-p {
		padding: 0;
	}

	.coffee-group {
		flex-direction: column;
		margin-bottom: 0;
	}

	.coffee-img {
		display: none;
	}

	.services {
		padding: 30px;
	}

	.services-content {
		padding: 0;
	}

	.services-1 {
		margin-bottom: 25px;
	}

	.services-group {
		flex-direction: column;
	}

	.general {
		flex-direction: column;
	}

	.general-1 {
		width: 100%;
		padding: 30px;
		text-align: center;
	}

	.general-2,
	general-3 {
		display: none;
	}

	.blog {
		padding: 30px;
	}

	.blog-content {
		flex-direction: column;
	}

	.blog-1 {
		padding: 0;
	}

	.footer {
		padding: 30px;
	}

	.footer-content {
		flex-direction: column;
		text-align: center;
	}
}