@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Cinzel+Decorative:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Encabezado */
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Cinzel+Decorative:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');
header {
	font-family: "Cinzel Decorative", sans-serif;
}

/* body {
	font-family: "Adobe Caslon Pro", sans-serif;
} */

.cinzel-decorative-regular {
	font-family: "Cinzel Decorative", serif;
	font-weight: 400;
	font-style: normal;
}

/* .small-caps {
    font-variant: small-caps;
} */

.cinzel-decorative-bold {
	font-family: "Cinzel Decorative", serif;
	font-weight: 500;
	font-style: normal;
}

.cinzel-decorative-black {
	font-family: "Cinzel Decorative", serif;
	font-weight: 600;
	font-style: normal;
}

/* ----------------------------------------------------Estilos generales para el header -----------------------------------------------*/
/* Estilos para el contenedor del header */
.header {
    padding: 1px 0;
    margin: 0;
    height: 60px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
}

/* Estilos para el contenedor del menú */
.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* Estilos para el logo a la izquierda */

.logoImg img{
    
     width: 35%; 
    height: 35%;
    margin-left: 10px;
}

/* boton de descarga */
.btnCronica img{
    width: 250px;
    height: 100px;

}
/* Estilos para la barra de navegación a la derecha */
.navbar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    
}
.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    gap: 15px;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
    /* padding: 0px 1px; */
    width: 900px;
}

.navbar ul li a:hover {
    color: #000000;
}

/* Estilo para el enlace activo */
.navbar ul li.active, .navbar ul li a.active {
    color: #Ffff; /* Cambia este color según tus necesidades */
    font-weight: bold;
    background-color: #FFE4B5; /* Fondo naranja claro para resaltar */
}


/* Estilos para el contenedor del contenido del header */
.header-content {
    width: 100%;
    text-align: center;
    padding: 0px 0; /* Ajusta el padding según sea necesario */
    margin-top: 0; /* Elimina el margen superior */
}

/* Estilos para el título */
.titleWelcome {
    text-align: center;
    margin-top: 0px; /* Ajusta el margen superior según sea necesario */
}

.titleWelcome h2 {
    font-size: 30px;
    color: black;
    margin: 0;
    font-family: "Cinzel Decorative", serif;
}



/*------------------------------------------ Estilos para el contenedor del carrusel------------------ */
/* .carousel-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}
*/

/* Estilos para las imágenes del carrusel */
/* .carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-image {
    min-width: 100%;
    height: 500px;
}  */
.carousel-container {
    position: relative;
    width: 80%; /* Ajusta el ancho del carrusel según tu diseño */
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    background-color: rgba(255, 244, 241, 0.8); /* Fondo para las áreas vacías */
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 16/9; /* Define una proporción para el contenedor */
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-image {
    width: auto; /* El ancho será automático para evitar deformaciones */
    /*height: auto; Ajusta el alto de la imagen al contenedor */
    max-height: 100%; /* Limita el alto para que no exceda el contenedor */
    object-fit: contain; /* Asegura que la imagen mantenga sus proporciones */
    display: none; /* Oculta imágenes no activas */
}

.carousel-image.active {
    display: block; /* Solo muestra la imagen activa */
}

/* Estilos para las flechas de navegación */
button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

button.prev {
    left: 0;
}

button.next {
    right: 0;
}

/* Estilos para el botón de navegación en hover */
button.prev:hover, button.next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Estilos para la sección de Morelos */
.morelos {
    padding: 40px 0;
    background-color: #f4f4f4;
}

.morelos-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}

/* Estilos para el título */
.h2-morelos {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    font-family: "Cinzel Decorative", sans-serif;
}


/* Estilos para centrar el iframe del mapa */
iframe {
    max-width: 100%;
    width: 600px;
    height: 550px;
    border: none;
    margin: 0 auto;
    align-items: center;
}

/* ----------------------------------------------Estilos del footer---------------------------------- */
.footer {
    background-color: #606834;
    color: white;
    /* padding: 20px 0; */
    text-align: center;
    position: relative;

    width: 100%;
    min-height: 100px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    margin: 5px 0;
}

.footer-section h4 {
    margin-bottom: 5px;
    font-size: 18px;
}

.footer-section p,
.footer-section a {
    font-size: 16px;
    margin: 2px 0;
    color: white;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.copyright {
    margin-top: 10px;
    font-size: 14px;
    color: #bbb;
}


/* Estilos para centrar la sección y el texto  de todos los textos*/
.text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    max-width: 950px;
    margin: 0 auto;
    padding: 0 20px;
    line-height: 1.6;
    font-size: 16px;
}
.text-section p {
    margin-bottom: 10px;
}
.text-p-caslon{
	color: #555;
	margin-bottom: 35px; 
	
}
.versalitas {
    font-family: 'Roboto Slab', serif; /* Usa la fuente con versalitas */
    font-variant: small-caps; /* Aplica versalitas */
    
}



/*------------------------------------------ Estilos para el contenedor del carrusel coatetelco------------------ */
.carousel-container2 {
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    align-content: center;
}

.carousel-images2 {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-image2 {
    min-width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

button.prev2, button.next2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
}

button.prev2 {
    left: 0;
}

button.next2 {
    right: 0;
}

/*------------------------------------------ Estilos para el contenedor del carrusel pilas------------------ */
/* .carousel-container3 {
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
    margin: 0 auto; 
    align-content: center;
}

.carousel-images3 {
    display: flex;
    transition: transform 0.5s ease-in-out;
} */

/* .carousel-image3 {
    min-width: 100%;
    height: 100%;
} */


/* button.prev3, button.next3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
}

button.prev3 {
    left: 0;
}

button.next3 {
    right: 0;
} */
.carousel-container3 {
    position: relative;
    width: 800px; /* Ancho fijo para el contenedor */
    height: 400px; /* Alto fijo para el contenedor */
    overflow: hidden;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    display: flex;
    align-items: center; /* Centra verticalmente las imágenes */
    justify-content: center; /* Centra horizontalmente las imágenes */
    background-color: #000; /* Fondo negro para áreas vacías */
}

.carousel-images3 {
    display: flex; /* Alinea las imágenes en fila */
    transition: transform 0.5s ease-in-out;
}

.carousel-image3 {
    max-width: 100%; /* Ajusta al ancho máximo disponible */
    max-height: 100%; /* Ajusta al alto máximo disponible */
    object-fit: contain; /* Mantiene la proporción de las imágenes */
    flex: 0 0 auto; /* Evita que las imágenes se redimensionen automáticamente */
}

button.prev3, button.next3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
}

button.prev3 {
    left: 0;
}

button.next3 {
    right: 0;
}

/*------------------------------------------ Estilos para el contenedor del carrusel olintepec------------------ */
.carousel-container4 {
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    align-content: center;
}

.carousel-images4 {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-image4 {
    min-width: 100%;
    height: auto;
}

button.prev4, button.next4 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
}

button.prev4 {
    left: 0;
}

button.next4 {
    right: 0;
}

/*------------------------------------------ Estilos para el contenedor del carrusel Yautepec------------------ */
.carousel-container5 {
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    align-content: center;
}

.carousel-images5 {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-image5 {
    min-width: 100%;
    height: auto;
}

button.prev5, button.next5 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
}

button.prev5 {
    left: 0;
}

button.next5 {
    right: 0;
}

/* imagen principal zonas */
.image-principal {
    width: 600px; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: 350px;/* Mantiene la proporción de la imagen */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra alrededor de la imagen */
    margin: 20px 0; /* Espacio superior e inferior */
    display: block; /* Asegura que la imagen se comporte como un bloque */
    
    margin-left: auto; /* Centra la imagen horizontalmente */
    margin-right: auto; /* Centra la imagen horizontalmente */
}







